@font-face {
  font-family: 'Poppins';
  src: url('Poppins/Poppins-Regular.ttf') format('truetype');
}

body {
  background-color: #000000;
  font-family: 'Poppins';
  overflow: visible;
  color: white;
}

header {
  display: block;
  color: white;
  font-size: 60px;
  text-align: left;
  margin-top: 90px;
  margin-right: 1100px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
}

h3 {
  color: white;
  font-family: 'Poppins-Bold';
  font-size: 40px;
  color: #FFFFFF;
  letter-spacing: 1.2px;
}

section {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.a {
  width: 50%;
  display: inline-block;
}

.b {
  width: 50%;
  display: inline-block;
}

.c {
  width: 50%;
  display: inline-block;
}

.d {
  width: 50%;
  display: inline-block;
}

.e {
  width: 50%;
  display: inline-block;
}

.f {
  width: 50%;
  display: inline-block;
}

.g {
  width: 50%;
  display: inline-block;
}

caption {
  color: white;
  font-size: 20px;
  text-align: left;
  padding: 15px;
}

.wrap {}

p {
  color: white;
}

table {
  border-spacing: 15px;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  margin-top: 100px;
  color: white;
  text-align: center;
}

th, td {
  border: 1px solid white;
}

img {
  -webkit-animation: spin 40s linear infinite;
  animation: spin 40s linear infinite;
  border-radius: 500px;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#header {
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
  position: absolute;
  left: 30px;
  top: 30px;
}

div {
  display: inline;
  color: white;
}
