@font-face {
  font-family: 'Poppins';
  src: url('Poppins/Poppins-Regular.ttf') format('truetype');
}

* {
  font-family: 'Poppins';
}

body {
  background-color: #000000;
  font-family: 'Poppins';
  overflow: visible;
  color: white;
  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

header {
  display: block;
  color: white;
  font-size: 60px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
}

h3 {
  color: white;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 40px;
  color: #FFFFFF;
  letter-spacing: 1.2px;
  margin-top: 10px;
}

section {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 49%;
  float: left;
}

caption {
  color: white;
  font-size: 20px;
  text-align: left;
  padding: 15px;
}

p {
  color: white;
}

table {
  border-spacing: 15px;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
      font-family: 'Poppins';
      text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

table, th, td {
  margin-top: 100px;
  color: white;
  text-align: center;
}

th, td {
  border: 1px solid white;
}

td {
  min-width: 100px;
}

td:first-child {
  min-width: 200px;
  height: 50px;
}

td:last-child {
  min-width: 200px;
  height: 50px;
}

img {
  -webkit-animation: spin 40s linear infinite;
  animation: spin 40s linear infinite;
  border-radius: 500px;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#header {
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

div {
  display: inline;
  color: white;
}
