@font-face {
  font-family: 'Poppins';
  src: url('Poppins/Poppins-Regular.ttf') format('truetype');
}

header img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}

header {
  display: block;
  color: white;
  font-size: 60px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
}

h3 {
  color: white;
  font-family: 'Poppins';
  font-size: 40px;
  color: #FFFFFF;
  letter-spacing: 1.2px;
  margin-top: 10px;
}

.container {
  width: 741px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
table {
  margin-top: 30px !important;
}

.btn {
  border: 1px white solid;
  -webkit-transition-duration: .2s;
          -webkit-transition-duration: .2s;
                  transition-duration: .2s;
          -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  cursor: hand;
  text-align: center;
  padding: 10px;
  margin-left: auto;
  width: 182px;
  margin-right: 15px;
  float: right;
}

.btn {
  background-color: white;
  color: black;
  text-decoration: none;
}

.center {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.btn_center {
  display: block;
  border: 1px white solid;
  -webkit-transition-duration: .2s;
          -webkit-transition-duration: .2s;
                  transition-duration: .2s;
          -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  cursor: hand;
  text-align: center;
  padding: 10px;
  margin-left: auto;
  width: 182px;
  margin-right: auto;
  background-color: white;
  color: black;
  text-decoration: none;
  vertical-align: middle;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: /*whatever width you want*/;
}


input {
  height: 50px;
  margin: 2px;
  font-size: 24px;
  font-family: 'Poppins';
  text-align: center;
}

#padding-top {
  padding-top: 50px;
}

.counter {
  font-size: 24px;
  padding: 5px;
  margin: 2px;
  height: 40px;
  width: 40px;
  border: 1px white solid;
  -webkit-transition-duration: ;.2s;
          -webkit-transition-duration: .2s;
                  transition-duration: .2s;
          -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  cursor: hand;
}



.margin_bottom {
  margin-bottom: 200px
}


.tiles {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.tile {
  color: white;
  border: 1px solid white;
  width: 45%;
  height: 250px;
  display: inline-block;
  margin: 1%;
  text-decoration: none;
  position: relative;
  padding: 1%;
  font-weight: bold;
  font-size: 48px;
  float: left;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.tile a {
  text-decoration: none;
  font-weight: bold;
  float: left;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  color: white;
}

.tile img {
  position: absolute; right: 0; bottom: 0;
  border-radius: 0;
  -webkit-animation: none;
  animation: none;
  padding: 20px;
  max-height: 120px;
  max-width: 240px;

}


.checkout_descr {
  display: block;
  text-align: center;
}


.checkout_price {
  display: block;
  text-align: center;
  font-size: 120px;
}
